*{
    padding: 0;
    margin: 0;
}


header{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: rgb(194, 241, 241);
    top: 0;
    position: sticky;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    color: rgb(8, 87, 87);
}
.about{
    display: flex;
    height: 100vh;
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about img{
    width: 300px;
    height: 300px;
    border: 2px solid pink;
    border-radius: 50%;
}

.about p{
    margin-top: 30px;
    width: 20rem;
}

.skills{
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;

}
.skill{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(241, 241, 241);
    font-size: 1.2rem;
}

.projects{
    padding-top: 15px;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-left: 35%;
}
.project{
    border: none;
    border-radius: 5px;
    padding: 30px;
    flex-wrap: wrap; 
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(188, 237, 237); 
    width: 40%;
    
}
.project p{
    font-size: 1.2rem;
    color: black;
    width: 20%;
}
.project a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}




.contact{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 9rem;
    padding-top: 2rem;
    
}
.contact .inp{
    border: none;
    border-radius: 5px;
    width: 25rem;
    height: 3rem; 
    cursor: pointer;
    background-color: rgb(237, 237, 237);
}

.contact .text{
    border: none;
    border-radius: 5px;
    width: 25rem;
    height: 9rem; 
    cursor: pointer;
    background-color: rgb(237, 237, 237);
}
.contact .inp:hover{
    border: 2px solid rgb(147, 145, 145);
}
.contact .text:hover{
    border: 2px solid rgb(147, 145, 145);
}
.btn{
    width: 100px;
    background-color: #4CAF50;
    color: #fff;
    font-size: large;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(68, 129, 68);
}

footer{
    background-color: rgb(130, 193, 193);
    color: white;
    display: grid;
    align-items: center;
    justify-content: center;
}
footer .top{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
    padding-top: 10px;
}
footer h3{
    color: black;
}

footer .copy{
    padding-bottom: 10px;
}
footer .f-info p i{
    padding: 5px;
}


#resume{
    display: flex;
    align-items: center;
    justify-content: center;
}
#resume button{
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#resume button:hover{
    background-color: #3e8e41;
}


@media (max-width: 520px){
    .about{
    display: grid;
    padding-top: 40px;
    }
.projects{
    padding-top: 15px;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-left: 30%;
}
  
.contact .inp{
    width: 20rem;
    
}

.contact .text{
    width: 20rem;
}

    footer{
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
footer .top{
    display: grid;
    gap: 5px;
}


    

}